.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80%;
  padding-top: 115px;
  padding-bottom: 30px;
  margin: 0 auto;
  flex: 1 1 80%;
}
